.form-container {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 20px;
    box-shadow: 0 2px 4px black;
  }
  
  form {
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 10px;
    font-family: Arial, sans-serif;
  }
  
  label {
    font-weight: bold;
  }
  
  input[type="text"], input[type="radio"] {
    padding: 5px;
    border-radius: 5px;
    border: 1px solid #ccc;
    font-size: 14px;
  }
  
  input[type="radio"] {
    margin-right: 5px;
  }
  
  button {
    
    cursor: pointer;
  }
  
  #kra-column {
    width: 200px;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
    cursor: pointer;
  }
  
  #popup {
    display: none;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: white;
    padding: 20px;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.5);
    z-index: 1;
  }
  
 