<div class="form-container">
<form [formGroup]="form">

<div>
  <label for="name">Name:</label>
  <input type="text" id="name" formControlName="name">
</div>

  <!-- <label for="kra">KRA:</label>
  <input type="text" id="kra" formControlName="kra"> -->

  <div>
    <label for="kra" d="kra-column" (click)="showPopup()" [title]="kra">{{kra | slice:0:20}}{{kra.length > 20 ? '...' : ''}}</label>
    <input type="text" id="kra" formControlName="kra">
    
  </div>

  <!-- <div>
    <label for="kra">KRA:</label>
    <input type="text" id="kra" formControlName="kra"
     id="kra-column" (click)="showPopUp()" [title]="kra">{{kra | slice:0:20}}{{kra.length > 20 ? '...' : ''}}</div>
  </div> -->
  

<div>
  <label>Status:</label>
  <div formControlName="status">
    <label>
      <input type="radio" value="active" formControlName="status"> Active
    </label>
    <label>
      <input type="radio" value="inactive" formControlName="status"> Inactive
    </label>
  </div>
</div>
</form>
<div>
  <button (click)="onClose()" class="btn btn-danger">Close</button>
  <button (click)="onSave()" class="btn btn-success">Save</button>
  <button (click)=" saveChanges()" class="btn btn-warning" > saveChanges</button>
 
</div>
<!-- <router-outlet></router-outlet> -->
</div>