
 
 <table class="table table-striped table-light">
    <thead>
      <tr>
        <th >Name</th>
        <th>KRA</th>
        <th>Status</th>
        <th>Action</th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let d of data">
        <td>{{ d.name }}</td>
        <td>{{ d.kra }}</td>
        <td>{{ d.status }}</td>
        <td>
          <a href="#" (click)="editItem(d)" >
            <i class="fas fa-edit"></i>
          </a>
          <a href="#" (click)="deleteItem(d)">
            <i class="fas fa-trash"></i>
          </a>
        </td>
      </tr>
    </tbody>
  </table>  
